/* labels and colors
  design       
  research     
  presentation 
  leadership
  management
  product
  frameworks
  software development
  tools
  saas
  podcasts
  customer success
*/

.labels {
	width: 100%;
	padding: 12px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;

	span {
		padding: 5px;
		border-radius: 16px;
		font-size: small;
		font-weight: $font-medium;
		text-transform: capitalize;
	}

	.purple {
		@include label-purple;
	}
	.darkpurple {
		@include label-darkpurple;
	}
	.blue {
		@include label-blue;
	}
	.darkblue {
		@include label-darkblue;
	}
	.pink {
		@include label-pink;
	}
	.darkpink {
		@include label-darkpink;
	}
	.orange {
		@include label-orange;
	}
	.green {
		@include label-green;
	}
}
