header {
	min-width: 90%;
	height: max-content;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;

	text-align: center;

	span.legend {
		font-size: min(1rem, 3vw);
		font-weight: $font-semibold;
		color: $color-purple;
	}

	h1 {
		font-size: min(4rem, 10vw);
		font-weight: $font-semibold;
		color: $color-title;
	}

	p {
		width: 55%;
		font-size: min(1.5rem, 4vw);

		@include for-desktop-down {
			max-width: none;
			width: 100%;
		}
	}
}

form {
	width: 40%;
	text-align: start;

	@include for-tablet-portrait-down {
		width: 70%;
	}

	@include for-phone-only {
		width: 100%;
	}

	.input-btn {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}

	input {
		height: 48px;
		width: 80%;
		padding: 8px 12px;

		font-weight: $font-regular;
		font-size: 1em;

		border: 2px solid #d0d5dd;
		border-radius: 8px;
		outline: none;
	}

	button {
		height: 48px;
		width: 100px;
		padding: 0 10px;
		border-radius: 8px;
		font-size: min(1rem, 3.2vw);
		font-weight: $font-medium;
		background-color: $color-purple;
		color: $color-light;

		&:hover {
			cursor: pointer;
		}
	}

	p.advice {
		max-width: none;
		width: 100%;
		margin: 8px 0;
		font-size: 0.9rem;
		font-size: min(0.9rem, 2.5vw);
		font-weight: $font-regular;

		span {
			text-decoration: underline;
		}
	}
}
